# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
Iron Lever from Allomancy legobmw/

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle


# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

src/generated/*